<main class="w-full h-[100vh] bg-[#505050]">

    <header class="w-full p-[10px] flex flex-col justify-center items-center font-Main text-white">
        <h1 class="text-2xl">TODO APP</h1>
        <p class="text-sm">by Lazare Mirziashvili</p>
    </header>

    <section class="w-full flex flex-col justify-center text-start h-[20vh] ">
        <section class="font-Main text-white flex justify-center">
            <h1 class="text-xl">Enter Task</h1>
        </section>
        <section class="flex justify-center items-center">
            <input type="text" class="p-[10px] rounded-l-lg font-Main w-[250px] md:w-[30%] lg:w-[25%] focus:outline-none focus:ring-0" name="InputValue" [(ngModel)]="TasksInput">
            <button type="submit" (click)="Submit()" class="p-[5px] bg-[#ffffff] rounded-r-lg "><img src="../assets/wiwka.png" alt="Btn" class="h-[34px]"></button>
        </section>
    </section>

    <section class="font-Main w-full h-auto flex flex-col justify-center items-center overflow-y-scroll">
        <section class="w-[250px] md:w-[30%] lg:w-[25%] border rounded-t-lg flex justify-center items-center p-[5px] overflow-y-scroll">
            <h1 class="text-2xl text-white">Tasks</h1>
        </section>
        <section class="w-[250px] md:w-[30%] lg:w-[25%] h-[40vh] bg-[#ffffff] rounded-b-lg overflow-y-scroll overflow-x-hidden text-wrap flex-wrap">
            <ul *ngFor="let Task of Tasks" class=" mx-[15px] my-[10px] border rounded flex items-center text-wrap justify-between list-decimal list-inside p-[5px] bg-[#fcfcfc]">
                <li class="text-lg md:text-xl flex flex-col flex-wrap px-[10px] text-wrap">{{Task}}</li>
                <button class="text-red-500 md:text-xl mx-[10px]" (click)="Delete(Tasks.indexOf(Task))"><i class="fa-solid fa-trash"></i></button>
            </ul>
            <section class="h-full w-auto flex justify-center items-center" *ngIf="Tasks.length<1">
                <h1 class="text-xl">There are no Tasks at the moment.</h1>
            </section>
        </section>
    </section>
</main>